body {
   text-align: center;
   background-image: url('images/santorini8.jpg');
   background-size: 100% 200px;
   background-repeat: no-repeat;
}

h1 {
   font-family: 'Sofia';
   text-align: center;
   color: grey;
   font-size: 4em;
   text-shadow: 5px 4px #183f5c;
   margin-top: -5px;
}

h3 {
   color: blue;
   text-shadow: 2px 1px #183f5c;
   font-size: 30px;
}

.gano {
   background-image: url('images/sanrest1.jpg');
   height: 500px;
   width: 500px;
   background-size: 500px 500px;
   background-repeat: no-repeat;
   background-position: 0px 5px; 
   float: left;
   padding: 15px;
   margin-top: 50px;
}

.hoffa {
   background-image: url('images/sanrest2.jpg');
   height: 500px;
   width: 500px;
   background-size: 500px 500px;
   background-repeat: no-repeat;
   background-position: 0px 5px; 
   float: left;
   padding: 15px;
   margin-top: 50px;
}

.cuisine {
   background-image: url('images/sanrest3.jpg');
   height: 500px;
   width: 500px;
   background-size: 500px 500px;
   background-repeat: no-repeat;
   background-position: 0px 5px; 
   float: left;
   padding: 15px;
   margin-top: 50px;
}

.sanori {
   background-image: url('images/sanrest4.jpg');
   height: 500px;
   width: 500px;
   background-size: 500px 500px;
   background-repeat: no-repeat;
   background-position: 0px 5px; 
   float: left;
   padding: 15px;
   margin-top: 50px;
}